{% extends 'backoffice/base_secured.html.twig' %}

{% block body %}
   <div class="page-content fade-in-up">
      <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="ibox bg-success color-white widget-stat">
                            <div class="ibox-body">
                                <h2 class="m-b-5 font-strong">#</h2>
                                <div class="m-b-5">NEW ORDERS</div><i class="ti-shopping-cart widget-stat-icon"></i>
                              
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="ibox bg-warning color-white widget-stat">
                            <div class="ibox-body">
                                <h2 class="m-b-5 font-strong">$888</h2>
                                <div class="m-b-5">TOTAL INCOME</div><i class="fa fa-money widget-stat-icon"></i>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="ibox bg-danger color-white widget-stat">
                            <div class="ibox-body">
                                <h2 class="m-b-5 font-strong">#</h2>
                                <div class="m-b-5">All USERS</div><i class="ti-user widget-stat-icon"></i>
                        
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Messages</div>
                            </div>
                            <div class="ibox-body">
                                <ul class="media-list media-list-divider m-0">
                                    <li class="media">
                                        
                                        <div class="media-body">
                                            <div class="media-heading">Jeanne Gonzalez <small class="float-right text-muted"></small></div>
                                            <div class="font-13">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        
                                        <div class="media-body">
                                            <div class="media-heading">Becky Brooks <small class="float-right text-muted"></small></div>
                                            <div class="font-13">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        
                                        <div class="media-body">
                                            <div class="media-heading">Frank Cruz <small class="float-right text-muted"></small></div>
                                            <div class="font-13">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        
                                        <div class="media-body">
                                            <div class="media-heading">Connor Perez <small class="float-right text-muted"></small></div>
                                            <div class="font-13">Lorem Ipsum is simply dummy text of the printing and typesetting.</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
   </div>
{% endblock %}
