{{ form_start(form) }}
<div class="row">

    {% for child in form %}
        <div class="col-sm-6 form-group">
            {{ form_label(child) }}
            {{ form_widget(child) }}
        </div>
    {% endfor %}
</div>

<button type="submit" class="btn btn-outline-primary">search</button>
{{ form_end(form) }}
